html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.techSkills{
  font-weight: bold;
  font-size: large;
}
#bioPara{
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}
#experience{
  color: white;
}
#experiencePhoto{
  background-image: url("../squadPhoto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.content{
  font-weight: bold;
  font-size: xx-large;
  padding: 110px;
  padding-top: 100px;
}
#contentMenuHome{
  padding-top: 200px;
}
#contentMenu{
  padding-top: 100px;
  text-align: center;
}
#jobInfo{

}
#applicationInfo{
  color: rgb(240, 201, 25);
}